body, html, #game
  background #000
  margin 0
  height 100%
  overflow hidden

#game.loading
  background-image url("../images/preloader-bar-bg.png")
  background-repeat no-repeat
  background-size 37.5%
  background-position center bottom 9%
  image-rendering pixelated
